{% extends 'layout.html' %}

{% block title%} channels {% endblock %} 

{% block content%}

<main class="col">
    <div class="alert alert-warning" role="alert">
        Create a channel +
    </div>
    <ul class="list-group my-4">
        <li class="list-group-item disabled" aria-disabled="true">Existing channels:</li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">#general</li>
        <li class="list-group-item">#cars</li>
        <li class="list-group-item">#general</li>
        <li class="list-group-item">#cars</li>
    </ul>
</main>


{% endblock %} 

